.Rproj.user
.Rhistory
.RData
figure/
cache/
SineIllusion-concordance.tex
SineIllusion.bbl
SineIllusion.blg
SineIllusion.log
SineIllusion.synctex.gz
SineIllusion.Rproj
SineIllusion.toc
SineIllusion.tex
